@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* MENU RESPONSIVO MENU RESPONSIVO MENU RESPONSIVO  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebf2fa;
  font-family: "Poppins", "Prompt";
  color: #333333;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #ebf2fa;
  color: #e9702a;
  padding: 10px;
  align-items: center;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

header{
    position: fixed;
    width: 100%;
    z-index: 100;
  } 
#fechar-menu {
  display: none;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 50px;
  flex: 1;
}

.menu :hover {
  color: #05668d;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.menu ul a {
  color: #e9702a;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}
.btn-login {
  background-color: #e9702a;
  color: #ebf2fa;
  padding: 7px 14px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.btn-desk :hover {
  color: #05668d;
}

.hamburguer {
  display: none;
}
.menu .btn-login {
  display: none;
}
/* regras para mobile */
@media (max-width: 768px) {
  #fechar-menu {
    display: block;
    color: #e9702a;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .menu ul {
    flex-direction: column;
  }

  .menu {
    position: fixed;
    background-color: #ebf2fa;
    right: -260px;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 60px;
    padding-left: 30px;
    z-index: 9999;
    transition: right 0.4s ease;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  }

  .menu :hover {
    color: #05668d;
  }

  .menu .btn-login {
    display: block;
    margin-top: 50px;
    width: 160px;
  }

  header .btn-login {
    display: none;
  }
  .hamburguer {
    display: block;
    font-size: 20px;
    background: none;
    color: #e9702a;
    border: none;
    cursor: pointer;
  }
  .menu-show {
    right: 0;
  }
}
/* MENU RESPONSIVO MENU RESPONSIVO MENU RESPONSIVO  */

/* 🔹 Banner */
#banner h2,
#banner p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* banner */
#banner {
  background-image: linear-gradient(
      to right,
      rgba(5, 102, 141, 0.8),
      rgba(4, 7, 9, 0.8)
    ),
    url("../img/pexels-zen-chung-5745183.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  margin: 0 auto;
  padding: 20px;
}

h1 strong {
  color: #e9702a;
}

#textoBanner p {
  color: white;
  margin: 0 auto;
  text-align: center;
}

.esquerda {
  background-color: rgb(255, 255, 255);
  max-width: 700px;
  padding: 30px;
  min-height: 440px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.esquerda p {
  margin-bottom: 20px;
}

.botao {
  background-color: #629643;
  color: #ffffff;
  font-family: "Poppins";
  border: none;
  border-radius: 5px;
  padding: 2px 10px;
  cursor: pointer;
}

label {
  color: #e9702a;
}
.contato {
  background-color: #ebf2fa;
  border: none;
  border-radius: 4px;
  padding: 8px;
}
.infos {
  background-color: #427aa1;
  display: flex;
  text-align: start;
  gap: 30px;
  padding: 10px 20px;
  margin-bottom: 30px;
  align-items: center;
  border-radius: 10px;
}
.direita {
  background-color: #05668d;
  color: aliceblue;
  max-width: 450px;
  min-height: 660px;
  padding: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
}

.look {
  display: flex;
  flex-direction: column;
}

.rosa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
}
#rede {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
.linha {
  margin-top: 60px;
  margin-bottom: 20px;
}

#pUm {
  margin-bottom: 60px;
}

/* Rodapé */
footer {
  background-color: #05668d;
}

.rodape {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  gap: 20px;
  margin: auto;
  max-width: 1500px;
}

#responsivoRodape {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.rodape ul {
  list-style: none;
}

.rodape ul a {
  text-decoration: none;
  color: #ffffff;
}

.rodape ul a:hover {
  color: #e9702a;
}

.rodapetitulo {
  color: #99cef3;
}

#linharodape {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  padding: auto;
}

.rodapebaixo {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin: 0 auto;
  padding: 30px;
}

.rodapebaixo p {
  color: #ffffff;
}

@media (max-width: 768px) {
  #responsivoRodape {
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
  }
  .rosa{
    flex-direction: column;
    
  }
  .esquerda{
    border-radius: 20px;
    min-height:500px;
    
  }
  
 .direita{
 border-radius: 20px;
  margin-top: 70px;
  min-height:500px ;
 }
}
