@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* MENU RESPONSIVO MENU RESPONSIVO MENU RESPONSIVO  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebf2fa;
  font-family: "Poppins", "Prompt";
  color: #333333;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #ebf2fa;
  color: #e9702a;
  padding: 10px;
  align-items: center;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

 header{
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
  } 
#fechar-menu {
  display: none;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 50px;
  flex: 1;
}

.menu :hover {
  color: #05668d;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.menu ul a {
  color: #e9702a;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}
.btn-login {
  background-color: #e9702a;
  color: #ebf2fa;
  padding: 7px 14px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.btn-desk :hover {
  color: #05668d;
}

.hamburguer {
  display: none;
}
.menu .btn-login {
  display: none;
}
/* regras para mobile */
@media (max-width: 768px) {
  #fechar-menu {
    display: block;
    color: #e9702a;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .menu ul {
    flex-direction: column;
  }

  .menu {
    position: fixed;
    background-color: #ebf2fa;
    right: -260px;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 60px;
    padding-left: 30px;
    z-index: 9999;
    transition: right 0.4s ease;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  }

  .menu :hover {
    color: #05668d;
  }

  .menu .btn-login {
    display: block;
    margin-top: 50px;
    width: 160px;
  }

  header .btn-login {
    display: none;
  }
  .hamburguer {
    display: block;
    font-size: 20px;
    background: none;
    color: #e9702a;
    border: none;
    cursor: pointer;
  }
  .menu-show {
    right: 0;
  }
}
/* MENU RESPONSIVO MENU RESPONSIVO MENU RESPONSIVO  */

.abasConfig {
  background-color: #ffffff;
  max-width: 360px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.abasConfig ul {
  list-style: none;
}

.abasConfig ul li {
  margin: 20px;
}

.abasConfig ul a {
  text-decoration: none;
  color: #333333;
  margin-left: 20px;
}

.abaAberta {
  background-color: #ffffff;
  max-width: 1000px;
  padding: 30px;
  border-radius: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.linhaAba {
  margin: 30px 0px;
}

#botaoSalvar {
  background-color: #629643;
  color: #ffffff;
  font-family: "Poppins";
  border: none;
  border-radius: 5px;
  padding: 2px 10px;
  cursor: pointer;
}

.tituloCampo {
  color: #05668d;
  font-weight: 550;
}

.campo {
  background-color: #ebf2fa;
  border: none;
  border-radius: 5px;
  padding: 6px;
  font-family: "Poppins";
}

#nome {
  padding: 6px 70px;
}

#nomeusuario {
  padding: 6px 70px;
}

#arquivoFoto::file-selector-button {
  background-color: #629643;
  color: #ffffff;
  font-family: "Poppins";
  border: none;
  border-radius: 5px;
  padding: 2px 10px;
  cursor: pointer;
}

#removerFoto {
  background-color: #629643;
  color: #ffffff;
  font-family: "Poppins";
  border: none;
  border-radius: 5px;
  padding: 2px 10px;
  cursor: pointer;
}

#blocos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin: 120px 0px;
}

@media (max-width: 800px) {
  #blocos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: 40px 0px;
  }
}

footer {
  background-color: #05668d;
}

.rodape {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  gap: 20px;
  margin: auto;
  max-width: 1500px;
}

.rodape ul {
  list-style: none;
}

.rodape ul a {
  text-decoration: none;
  color: #ffffff;
}

.rodape ul a:hover {
  color: #e9702a;
}

.rodapetitulo {
  color: #99cef3;
}

#linharodape {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  padding: auto;
}

.rodapebaixo {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin: 0 auto;
  padding: 30px;
}

.rodapebaixo p {
  color: #ffffff;
}

#responsivoRodape {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

@media (max-width: 768px) {
  #responsivoRodape {
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
  }

    .abasConfig{
    max-width: 400px;
    margin: 0 50px;
    margin-top: 70px;

  } 
  .abaAberta{
    max-width: 400px;
    margin: 0 50px;
  }

  .abaAberta textarea{
    max-width: 305px;
    max-height: 90px;
  }
}
