@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* MENU RESPONSIVO MENU RESPONSIVO MENU RESPONSIVO  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebf2fa;
  font-family: "Poppins", "Prompt";
  color: #333333;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #ebf2fa;
  color: #e9702a;
  padding: 10px;
  align-items: center;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
#fechar-menu {
  display: none;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 50px;
  flex: 1;
}

.menu :hover {
  color: #05668d;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.menu ul a {
  color: #e9702a;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}
.btn-login {
  background-color: #e9702a;
  color: #ebf2fa;
  padding: 7px 14px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.btn-desk :hover {
  color: #05668d;
}

.hamburguer {
  display: none;
}
.menu .btn-login {
  display: none;
}
/* regras para mobile */
@media (max-width: 768px) {
  #fechar-menu {
    display: block;
    color: #e9702a;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .menu ul {
    flex-direction: column;
  }

  .menu {
    position: fixed;
    background-color: #ebf2fa;
    right: -260px;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 60px;
    padding-left: 30px;
    z-index: 9999;
    transition: right 0.4s ease;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  }

  .menu :hover {
    color: #05668d;
  }

  .menu .btn-login {
    display: block;
    margin-top: 50px;
    width: 160px;
  }

  header .btn-login {
    display: none;
  }
  .hamburguer {
    display: block;
    font-size: 20px;
    background: none;
    color: #e9702a;
    border: none;
    cursor: pointer;
  }
  .menu-show {
    right: 0;
  }
}
/* MENU RESPONSIVO MENU RESPONSIVO MENU RESPONSIVO  */

.titulosecao{
    margin: 0 auto;
    padding: 20px 20px;
    max-width: 900px;
    font-size: 12px;
  
}

.titulosecao h3 {
    color: #404040;
    font-size: 20px;
}
.titulosecao p {
    color: #9DAAB9;
  
}


.conteudovideo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 20px;
  max-width: 900px;

  
}
.conteudovideo video{
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  
}
.play {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  pointer-events: auto;
  transition: 0.3s;
  z-index: 2;
}



/* RODAPÉ!!!!!!!!!!!!!!!!!!!!!!!!!! */
footer {
  background-color: #05668d;
}

.rodape {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  gap: 20px;
  margin: auto;
  max-width: 1500px;
}

#responsivoRodape {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.rodape ul {
  list-style: none;
}

.rodape ul a {
  text-decoration: none;
  color: #ffffff;
}

.rodape ul a:hover {
  color: #e9702a;
}

.rodapetitulo {
  color: #99cef3;
}

#linharodape {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  padding: auto;
}

.rodapebaixo {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin: 0 auto;
  padding: 30px;
}

.rodapebaixo p {
  color: #ffffff;
}

@media (max-width: 768px) {
  #responsivoRodape {
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
  }
 .conteudovideo video{
  width: 60%;
 
}
.play {
  top: 60%;
  left: 50%;
}

.titulosecao {
 margin-left:  100px;
  
}
}

