      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
      @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      header {
        background-color: #ebf2fa;
      }

      #navegacao {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ebf2fa;
        padding: 10px 40px;
      }

      #navegacao ul {
        display: flex;
        justify-content: flex-end;
        height: 40px;
        align-items: center;
        list-style: none;
        font-size: 12px;
      }

      #navegacao ul a{
        color: #e9702a;
        text-decoration: none;
        font-weight: bold;
      }

      #navegacao ul a:hover{
        color: #05668d;
      }

      #menu {
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
        position: fixed;
        width: 100%;
        z-index: 100;
      }

      #navegacao ul li {
        margin-left: 15px;
        margin-right: 15px;
      }

      #navegacao #login a{
        background-color: #e9702a;
        color: #ffffff;
        border-radius: 5px;
        padding: 5px 10px;
        
      }

      body {
        background-color: #ebf2fa;
        font-family: 'Poppins','Prompt';
        color: #333333;
      }

      #banner {
        background-image: linear-gradient( to right, rgba(5, 102, 141, 0.8), rgba(4, 7, 9, 0.8)),
 url('../index-img/pexels-cytonn-955389.jpg');
        background-size: cover;
        background-position: 30%;
        padding: 130px;
      }

      #tituloBanner {
        color: #ffffff;
        font-weight: 600; 
        text-align: center;
        font-family: 'Prompt';
      }

      #textoBanner {
        color: #ffffff;
        text-align: center;
        padding: 25px;
      }

      #botaoEscreva {
        color: #e9702a;
        text-decoration: none;
        display: block;
        text-align: center;
        margin: auto;
        max-width: 800px;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 10px;
      }

      #botaoExplore {
        display: block;
        text-align: center;
        color: #99CEF3;
      }

      h2{
        color: #05668d;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 30px;
        font-family: 'Prompt';
        font-weight: 600;
        font-size: 30px;
      }

      .destaque{
        background-color: #ffffff;
        padding: 20px;
        max-width: 900px;
        margin: 30px auto;
        border-radius: 15px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
      }

      .destaque h3{
        color: #e9702a;
        margin-top: 8px;
        margin-bottom: 8px;
      }

      .cabeca{
        display: flex;
        justify-content: space-between;
      }

      .tagsDestaque{
        color: #ffffff;
        display:inline-block;
      }

      .tagsDestaque ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 2px;
      }

      .tagsDestaque li {
        background-color: #629643;
        border-radius: 5px;
        margin-right: 10px;
        padding: 2px 8px 2px 8px;
      }




      .sobrenos {
        display: flex;
        flex-direction: roe;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding: 60px 20px;
        max-width: 1200px;
        margin: 30px auto;
        box-sizing: border-box;
        
      }

      .sobrenos #textosobrenos {
        flex: 1;
        min-width: auto;
        text-align: justify;
      }

      .sobrenos #textosobrenos p {
        margin-bottom: 15px;
      }

      .sobrenos #imagemsobrenos {
        flex: 1;
        display: flex;
        justify-content: center;
      }

      .sobrenos #imagemsobrenos img {
        border-radius: 15px;
        max-width: 100%;
        height: auto;
      }

      .sobrenosbotao {
        background-color: #629643;
        color: #ffffff;
        padding: 5px 8px 5px 8px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        margin-right: 20px;
        margin-top: 10px;
      }




      #entendabotao {
        background-color: #629643;
        color: #ffffff;
        padding: 5px 8px 5px 8px;
        border-radius: 5px;
        text-decoration: none;
        display: block;
        text-align: center;
        margin: 30px auto;
        width: 260px;
      }

      .video {
        border-radius: 15px;
        display: inline-block;
        margin: 0px 10px;
      }

      #videocentro {
        text-align: center;
      }




      footer {
        background-color: #05668d;
      }

      .rodape {
        display: flex;
        justify-content: space-between;
        padding: 80px;
        gap: 20px;
        margin: auto;
        max-width: 1500px;
      }

      .rodape ul {
        list-style: none;
      }

      .rodape ul a {
        text-decoration: none;
        color: #ffffff;
      }

      .rodape ul a:hover {
        color: #e9702a;
      }

      .rodapetitulo {
        color: #99CEF3;
      }


      #linharodape {
        max-width: 1300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 30px;
        padding: auto;
      }

      .rodapebaixo {
        display: flex;
        justify-content: space-around;
        gap: 40px;
        margin: 0 auto;
        padding: 30px;
      }

      .rodapebaixo p {
        color: #ffffff;
      }

