@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
      @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      header {
        background-color: #ebf2fa;
      }

      #navegacao {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ebf2fa;
        padding: 10px 40px;
      }

      #navegacao ul {
        display: flex;
        justify-content: flex-end;
        height: 40px;
        align-items: center;
        list-style: none;
        font-size: 12px;
      }

      #navegacao ul a{
        color: #e9702a;
        text-decoration: none;
        font-weight: bold;
      }

      #navegacao ul a:hover{
        color: #05668d;
      }

      #menu {
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
      }

      #navegacao ul li {
        margin-left: 15px;
        margin-right: 15px;
      }

      #navegacao #login a{
        background-color: #e9702a;
        color: #ffffff;
        border-radius: 5px;
        padding: 5px 10px;
        
      }

      body {
        background-color: #ebf2fa;
        font-family: 'Poppins','Prompt';
        color: #333333;
      }







      

      #menusPolitica {
        margin: 90px 0;
      }

      #menusPolitica ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #menusPolitica ul li {
        background-color: #629643;
        border-radius: 5px;
        margin: 30px 10px;
        padding: 2px 8px 2px 8px;
      }

      #menusPolitica ul a {
        text-decoration: none;
        color: #ffffff;
      }


      .politica {
        max-width: 90rem;
        margin: auto;
      }

      .politica h1 {
        color: #05668d;
      }

      #dataPublicacao {
        color: #9DAAB9;
      }

      #politicaConteudo {
        text-align: justify;
        margin-bottom: 6rem;
      }
    



















      footer {
        background-color: #05668d;
      }

      .rodape {
        display: flex;
        justify-content: space-between;
        padding: 80px;
        gap: 20px;
        margin: auto;
        max-width: 1500px;
      }

      .rodape ul {
        list-style: none;
      }

      .rodape ul a {
        text-decoration: none;
        color: #ffffff;
      }

      .rodape ul a:hover {
        color: #e9702a;
      }

      .rodapetitulo {
        color: #99CEF3;
      }


      #linharodape {
        max-width: 1300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 30px;
        padding: auto;
      }

      .rodapebaixo {
        display: flex;
        justify-content: space-around;
        gap: 40px;
        margin: 0 auto;
        padding: 30px;
      }

      .rodapebaixo p {
        color: #ffffff;
      }