@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&family=Roboto:wght@400;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebf2fa;
  font-family: "poppins";
  color: #e9702a;
}
#cabecalho {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #EBF2FA;
  top:0

}
#cabecalho ul {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  padding: 20px 10px;
  background-image: url("../formulario-img/logo.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 120px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  font-size: 12px;
  margin: 0 auto;
}
#cabecalho ul li a {
  color: #e9702a;
  text-decoration: none;
  font-weight: bold;
}
#cabecalho ul li {
  margin: 0 20px;
 
}
#cabecalho ul li a:hover {
  color: #05668d;
}
#cabecalho #botaoInscreva a {
  background-color: #e9702a;
  color: #ffffff;
  font-weight: bold;
  width: 180px;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  display: block;
  text-align: center;
  transition: 0.3s;
}
#cabecalho #botaoInscreva a:hover {
  background-color: #ffffff;
  color: #05668d;
  border: 1px solid #05668d;
}
#conteudo {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 70px auto;
  gap: 10px;

}
.imgmaos {
  position: relative;                /* necessário para posicionar o filtro */
  flex: 1;
  min-width: auto;
  min-height: auto;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.imgmaos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.imgmaos::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(5, 102, 141, 0.8),
    rgba(4, 7, 9, 0.8)
  );
  pointer-events: none; /* garante que o filtro não bloqueie cliques */
}
.campos {
  flex: 1;
  min-width: 350px;
  background-color: #ebf2fa;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;        
  justify-content: space-between;
  gap: 10px;                  

}
.campos h1 {
  color: #e9702a;
  margin-bottom: 10px;
  font-family: "Prompt", sans-serif;
  font-size: 25px;
  
}
.campos h2 {
  color: #e9702a;
  margin-bottom: 10px;
  font-family: "Prompt", sans-serif;
  font-size: 20px;
}
#linha{
 border: 1px solid #e9702a;
}
#paragrafo1 {
  color: #333;
  margin-bottom: 20px;
  line-height: 1.4;
  font-size: 12px;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
  color: #e9702a;
  font-size: 12px;
  
}
.formulario {
  display: grid;                     
  grid-template-columns: 1fr 1fr;    
  gap: 20px;                         
  margin-bottom: 20px;               
}
input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  background-color: #ebf2fa;
}
fieldset {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background-color: #629643;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  
}
button:hover {
  background-color: #4f7a34;
  color: #05668d;  
}
.checkbox div {
  display: flex;
  align-items: center;

}

.checkbox label {      
  font-weight: normal;
  color: #333; 
  text-decoration: none;
  font-size: 9px;
  
  
}
.checkbox input{
  box-shadow: none;
}
 .checkbox {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  margin-top: 15px;
}

.checkbox div {
  display: flex;
  align-items: center; 
  gap: 8px;
}

.checkbox input {
  width: 16px;
  height: 16px;
  box-shadow: none;
  margin: 0; 
}

.checkbox label {
  font-weight: normal;
  color: #333;
  font-size: 12px; 
  text-decoration: none;
}
.checkbox #registro a{
  margin-bottom: 20px;
  line-height: 1.4;
  font-size: 9px;
  padding-top: 20px;
  width: 150%;
  text-decoration: none;
  color: #333;
}
/* RODAPÉ!!!!!!!!!!!!!!!!!!!!!!!!!! */

footer {
  background-color: #05668d;
}
.rodape {
  display: flex;
  justify-content: space-around;
  padding: 80px;
  gap: 20px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
          
}

.rodape ul {
  list-style: none;
}

.rodape ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}

.rodape ul a:hover {
  color: #e9702a;
}

.rodapetitulo {
  color: #99CEF3;
  font-size: 12px;
}

#linharodape {
  max-width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  padding: auto;
}
.rodapebaixo {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 30px auto;
  margin: 0 90px;
}

.rodapebaixo p {
  color: #ffffff;
  font-size: 12px;
}

