@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
      @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      header {
        background-color: #ebf2fa;
      }

      #navegacao {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ebf2fa;
        padding: 10px 40px;
      }

      #navegacao ul {
        display: flex;
        justify-content: flex-end;
        height: 40px;
        align-items: center;
        list-style: none;
        font-size: 12px;
      }

      #navegacao ul a{
        color: #e9702a;
        text-decoration: none;
        font-weight: bold;
      }

      #navegacao ul a:hover{
        color: #05668d;
      }

      #menu {
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
      }

      #navegacao ul li {
        margin-left: 15px;
        margin-right: 15px;
      }

      #navegacao #login a{
        background-color: #e9702a;
        color: #ffffff;
        border-radius: 5px;
        padding: 5px 10px;
        
      }

      body {
        background-color: #ebf2fa;
        font-family: 'Poppins','Prompt';
        color: #333333;
      }



      .abasConfig {
        background-color: #ffffff;
        max-width: 360px;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
      }

      .abasConfig ul {
        list-style: none;
      }

      .abasConfig ul li {
        margin: 20px;
      }

      .abasConfig ul a {
        text-decoration: none;
        color: #333333;
        margin-left: 20px;
      }



       .abaAberta {
        background-color: #ffffff;
        width: 1000px;
        padding: 30px;
        border-radius: 30px;
        border-radius: 15px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
      }

      .linhaAba {
        margin: 30px 0px;
      }

      .campo {
        background-color: #ebf2fa;
        border: none;
        border-radius: 5px;
        padding: 6px;
        font-family: 'Poppins';
      }

      #botaoSalvar {
        background-color: #629643;
        color: #ffffff;
        font-family: 'Poppins';
        border: none;
        border-radius: 5px;
        padding: 2px 10px;
        cursor: pointer;
      }



      #blocos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        margin: 60px 0px;
      }





      footer {
        background-color: #05668d;
      }

      .rodape {
        display: flex;
        justify-content: space-between;
        padding: 80px;
        gap: 20px;
        margin: auto;
        max-width: 1500px;
      }

      .rodape ul {
        list-style: none;
      }

      .rodape ul a {
        text-decoration: none;
        color: #ffffff;
      }

      .rodape ul a:hover {
        color: #e9702a;
      }

      .rodapetitulo {
        color: #99CEF3;
      }


      #linharodape {
        max-width: 1300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 30px;
        padding: auto;
      }

      .rodapebaixo {
        display: flex;
        justify-content: space-around;
        gap: 40px;
        margin: 0 auto;
        padding: 30px;
      }

      .rodapebaixo p {
        color: #ffffff;
      }